<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    {% if title %}
        <title>Studentchat - {{ title }}</title>
    {% else %}
        <title>Studentchat</title>
    {% endif %}
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <span class="navbar-brand" href="#">Studentchat Admin</span>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/adlogin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adlogout">Logout</a>
        </li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </div>
</body>
</html>