{% extends "adlayout.html" %}
{% block content %}
    <h3><a href="/admin/topics/{{ area_id }}">{{ area_name }}</a></h3>
    <h3>{{ topic_name }}</h3>
    Viestien määrä: {{ count }}
    <hr>
    {% for message in messages %}
        {{ message[4].strftime("%Y-%m-%d %H:%M") }}
        <h5><i>{{ message[3] }}:</i></h5>
        {% if message[5] != None %}
            <div style="background-color: lightgray;">
                {{ message[5] }}
            </div>
            <br>
        {% endif %}
        {{ message[1] }}
        <p>
        <a href="/admin/messagedel/{{ message[0] }}">Poista</a>
        <p>
        <hr>
    {% endfor %}
{% endblock content %}
