{% extends "adlayout.html" %}
{% block content %}
<div class="jumbotron">
    <h3><a href="/admin/topics/{{ area_id }}">{{ area_name }}</a></h3>
    <h4>{{ topic_name }}</h4>
    Viestien määrä: {{ count }}
    <hr>
    {% for message in messages %}
        {{ message[4].strftime("%Y-%m-%d %H:%M") }}
        <h5><i>{{ message[3] }}:</i></h5>
        {% if message[5] != None %}
            <div style="background-color: lightgray;">
                {{ message[5] }}
            </div>
        {% endif %}
        {{ message[1] }}
        <div>
            <a href="/admin/messagedel/{{ message[0] }}">Poista</a>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock content %}
