<!DOCTYPE html>
<h1>STUDENTCHAT ADMIN</h1>
Olet kirjautunut nimellä {{ user_name }} &nbsp <a href="/adlogout">Kirjaudu ulos</a>
<hr>
<h3><a href="/admin/topics/{{ area_id }}">{{ area_name }}</a></h3>
<h2>{{ topic_name }}</h2>
Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
    {{ message[4].strftime("%Y-%m-%d %H:%M") }}
    <h3><b><i>{{ message[3] }}:</i></b></h3>
    {{ message[1] }}
    <p>
    <a href="/admin/messagedel/{{ area_id }}/{{ topic_id }}/{{ message[0] }}">Poista</a>
    <p>
    <hr>
{% endfor %}
