<!DOCTYPE html>
<h1>STUDENTCHAT</h1>
Olet kirjautunut nimellä {{ login_alias }} &nbsp <a href="/logout">Kirjaudu ulos</a>

<hr>
    <form action="/findmsg" method="post">
        Hae viestejä<br>
        Viestin kirjoittaja: <input type="text" name="user_search"> &nbsp
        Etsittävä teksti: <input type="text" name="text_search"> &nbsp &nbsp
        <input type="submit" value="Etsi">
    </form>
<hr>
    {% for area in areas %}

    <p>
        <a href="/topics/{{ area[0] }}">{{ area[1] }}</a>
    <p>
<hr>
{% endfor %}
