{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <form action="/findmsg" method="post">
        Hae viestejä<br><br>
        Viestin kirjoittaja: <input type="text" name="user_search"><br><br>
        Keskustelun otsikko: <input type="text" name="topic_search"><br><br>
        Viestin sisältämä teksti: <input type="text" name="text_search"><br><br>
        <input type="submit" value="Etsi">
        <br><br>
    </form>
    <br><div style="color:red;" >{{ error }}</div><br>
</div>
{% endblock content %}