{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <form action="/login" method="post">
        <h2>Kirjaudu sisään</h2>
        <label for="username">Tunnus</label><input type="text" id="username" name="username">
        <br><br>
        <label for="password">Salasana:</label><input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Kirjaudu">
        <br>
    </form>
    <br><div style="color:red;" >{{ error }}</div><br>
    Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
</div>   
{% endblock content %}