{% extends "layout.html" %}
{% block content %}
    <form action="/findmsg" method="post">
        Hae viestejä<br>
        Viestin kirjoittaja: <input type="text" name="user_search"> &nbsp
        Etsittävä teksti: <input type="text" name="text_search"> &nbsp &nbsp
        <input type="submit" value="Etsi">
    </form>
    <hr>
        <h3><a href="/areas">Muut keskustelualueet</a></h3>
    <hr>
        <h3><a href="/topics/{{ area_id }}">{{ area_name }}</a></h3>
        <h2>{{ topic_name }}</h2>
        Viestien määrä: {{ count }}
        <br><br>
        <h4><a href="/new/{{ topic_id }}">Uusi viesti</a></h4>
    <hr>
    <div style="background-color: whitesmoke;">
        {% for message in messages %}
            {{ message[4].strftime("%Y-%m-%d %H:%M") }}
            {% if message[2] == login_id %}
                <h3 style="color:red;"><i>{{ message[3] }}:</i></h3>
                {% if message[5] != None %}
                    <div style="background-color: lightgray;">
                        {{ message[5] }}
                    </div>
                    <br>
                {% endif %}
                <div>
                    {{ message[1] }}
                </div>
                <br>
                <a href="/modify/{{ message[0] }}">Muuta</a>
                <a href="/messagedel/{{ message[0] }}">Poista</a>
            {% else %}
                <h3 style="color:blue;"><b><i>{{ message[3] }}:</i></b></h3>
                {% if message[5] != None %}
                    <div style="background-color: lightgray;">
                        {{ message[5] }}
                    </div>
                    <br>
                {% endif %}
                <div>
                    {{ message[1] }}
                </div>
                <br>
                <a href="/reply/{{ message[0] }}">Vastaa</a>
            {% endif %}
            <p>
            <hr>
        {% endfor %}
    </div>
    <h4><a href="/new/{{ topic_id }}">Uusi viesti</a></h4>        
{% endblock content %}
