{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h3><a href="/topics/{{ area_id }}">{{ area_name }}</a></h3>
    <h4>{{ topic_name }}</h4>
    Viestien määrä: {{ count }}
    <br><br>
    <h5><a href="/new/{{ topic_id }}">Kirjoita viesti</a></h5>
    <hr>
    <div>
<!--   style="background-color: whitesmoke;"> --> 
        {% for message in messages %}
            {{ message[4].strftime("%Y-%m-%d %H:%M") }}
            {% if message[2] == login_id %}
                <h5 style="color:red;"><i>{{ message[3] }}:</i></h5>
                {% if message[5] != None %}
                    <div style="background-color: lightgray;">
                        {{ message[5] }}
                    </div>
                {% endif %}
                <div style="white-space: pre-line">
                    {{ message[1] }}
                </div>
                <br>
                <a href="/modify/{{ message[0] }}">Muuta</a>
                <a href="/messagedel/{{ message[0] }}">Poista</a>
            {% else %}
                <h5 style="color:blue;"><b><i>{{ message[3] }}:</i></b></h5>
                {% if message[5] != None %}
                    <div style="background-color: lightgray;">
                        {{ message[5] }}
                    </div>
                {% endif %}
                <div style="white-space: pre-line">
                    {{ message[1] }}
                </div>
                <br>
                <a href="/reply/{{ message[0] }}">Vastaa</a>
                {% if user_rights == 3 %}<a href="/messagedel/{{ message[0] }}">Poista</a>{% endif %}
            {% endif %}
            <p>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock content %}
