{% extends "layout.html" %}
{% block content %}
    <form 
        {% if (text_search == "") or (text_search == " ") %}
            action=
                "/update2/{{ message_id }}/{{ user_search }}/%20"
                method="post">
        {% else %}
            action=
                "/update2/{{ message_id }}/{{ user_search }}/{{ text_search }}"
                method="post">
        {% endif %}
        Viesti: <br>
        <textarea name="content" rows="5" cols="50">{{ content }}</textarea>
        <br>
        <input type="submit" value="Talleta">
    </form>
{% endblock content %}