{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <form action="/register" method="post">
        <h2>Luo uusi käyttäjätunnus</h2>
        Tunnus: <input type="text" name="username" value={{ username }}>
        <br><br>
        Nimi: <input type="text" name="alias" value={{ alias }}> (näkyy muille käyttäjille)
        <br><br>
        Salasana: <input type="password" name="password">
        <br><br>
        Salasana: <input type="password" name="password2"> (varmistus)
        <br><br>
        <input type="submit" value="Luo tunnus">
    </form>
    <br><div style="color:red;" >{{ error }}</div><br>
</div>
{% endblock content %}