{% extends "layout.html" %}
{% block content %}
    <form action="/findmsg" method="post">
        Hae viestejä<br>
        Viestin kirjoittaja: <input type="text" name="user_search"> &nbsp
        Etsittävä teksti: <input type="text" name="text_search"> &nbsp &nbsp
        <input type="submit" value="Etsi">
    </form>
    <hr>
    <h3><a href="/areas">Muut keskustelualueet</a></h3>
    <hr>
    <h2>{{ area_name }}</h2>
    <h4><a href="/newtopic/{{ area_id }}">Aloita uusi viestiketju</a></h4>
    <hr>
    {% for topic in topics %}
        <p>
            <a href="/messages/{{ topic[0] }}">{{ topic[1] }}</a>
        <p>
        <hr>
    {% endfor %}
{% endblock content %}
